# InspectPro

# .gitignore (recommended)

# node
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# build output
www/
build/
dist/

# macOS
.DS_Store

# native keystores and credentials
*.jks
*.keystore
*.p12
*.mobileprovision
fastlane/report.xml
fastlane/Preview.html
/credentials/

# local env files
.env
.env.local

